.Mapa{
    position: absolute;
    margin-left: 50%;
    margin-top: 7%;
    width: 40%;
    height: 40%;
}
#Contprincipal{
    position: relative;
    
}
img{
    width: 444px;
    height: 423px;
    position: relative;
}
.temario{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
h3{
    font-family: Arial;
}
li{
    font-family: Arial;
}