/* Text */
.text-decoration-none {
    text-decoration: none!important;
}

.text-secondary {
    color: #ffffff!important;
}

.text-center {
    text-align: center!important;
}

.text-justify {
    text-align: justify!important;
}

.text-primary {
    color: #0091FB!important;
}

/* Font */

.font-weight-bold {
    font-weight: bold!important;
}

.font-size-1_5 {
    font-size: 1.5rem!important;
}

/* Titles */

.title-1 {
    font-size: 4em!important;
}

.title-2 {
    font-size: 3em!important; 
}

.title-3 {
    font-size: 2em!important;
}

/* Background */

.bg-primary {
    background-color: #0091FB!important;
}

.bg-secondary {
    background-color: #ffffff!important;
}
.bg-container {
    background-color: #e9e9e9dc!important;
}

/* Margin */

.mt-5 {
    margin-top: 50px!important;
}

.mt-4 {
    margin-top: 40px!important;
}

.mt-3 {
    margin-top: 30px!important;
}

.mt-2 {
    margin-top: 20px!important;
}

.mt-1 {
    margin-top: 10px!important;
}

.mb-5 {
    margin-bottom: 50px!important;
}

.mb-4 {
    margin-bottom: 40px!important;
}

.mb-3 {
    margin-bottom: 30px!important;
}

.mb-2 {
    margin-bottom: 20px!important;
}

.mb-1 {
    margin-bottom: 10px!important;
}

.ml-5 {
    margin-left: 50px!important;
}

.ml-4 {
    margin-left: 40px!important;
}

.ml-3 {
    margin-left: 30px!important;
}

.ml-2 {
    margin-left: 20px!important;
}

.ml-1 {
    margin-left: 10px!important;
}

.mr-5 {
    margin-right: 50px!important;
}

.mr-4 {
    margin-right: 40px!important;
}

.mr-3 {
    margin-right: 30px!important;
}

.mr-2 {
    margin-right: 20px!important;
}

.mr-1 {
    margin-right: 10px!important;
}

.mx-5 {
    margin: 0px 50px!important;
}

.mx-4 {
    margin: 0px 40px!important;
}

.mx-3 {
    margin: 0px 30px!important;
}

.mx-2 {
    margin: 0px 20px!important;
}

.mx-1 {
    margin: 0px 10px!important;
}

.my-5 {
    margin: 50px 0px!important;
}

.my-4 {
    margin: 40px 0px!important;
}

.my-3 {
    margin: 30px 0px!important;
}

.my-2 {
    margin: 20px 0px!important;
}

.my-1 {
    margin: 10px 0px!important;
}

.m-5 {
    margin: 50px!important;
}

.m-4 {
    margin: 40px!important;
}

.m-3 {
    margin: 30px!important;
}

.m-2 {
    margin: 20px!important;
}

.m-1 {
    margin: 10px!important;
}

.m-0 {
    margin: 0!important;
}

/* Padding */

.pt-5 {
    padding-top: 50px!important;
}

.pt-4 {
    padding-top: 40px!important;
}

.pt-3 {
    padding-top: 30px!important;
}

.pt-2 {
    padding-top: 20px!important;
}

.pt-1 {
    padding-top: 10px!important;
}

.pb-5 {
    padding-bottom: 50px!important;
}

.pb-4 {
    padding-bottom: 40px!important;
}

.pb-3 {
    padding-bottom: 30px!important;
}

.pb-2 {
    padding-bottom: 20px!important;
}

.pb-1 {
    padding-bottom: 10px!important;
}

.pl-5 {
    padding-left: 50px!important;
}

.pl-4 {
    padding-left: 40px!important;
}

.pl-3 {
    padding-left: 30px!important;
}

.pl-2 {
    padding-left: 20px!important;
}

.pl-1 {
    padding-left: 10px!important;
}

.pr-5 {
    padding-right: 50px!important;
}

.pr-4 {
    padding-right: 40px!important;
}

.pr-3 {
    padding-right: 30px!important;
}

.pr-2 {
    padding-right: 20px!important;
}

.pr-1 {
    padding-right: 10px!important;
}

.px-5 {
    padding: 0px 50px!important;
}

.px-4 {
    padding: 0px 40px!important;
}

.px-3 {
    padding: 0px 30px!important;
}

.px-2 {
    padding: 0px 20px!important;
}

.px-1 {
    padding: 0px 10px!important;
}

.py-5 {
    padding: 50px 0px!important;
}

.py-4 {
    padding: 40px 0px!important;
}

.py-3 {
    padding: 30px 0px!important;
}

.py-2 {
    padding: 20px 0px!important;
}

.py-1 {
    padding: 10px 0px!important;
}

.p-5 {
    padding: 50px!important;
}

.p-4 {
    padding: 40px!important;
}

.p-3 {
    padding: 30px!important;
}

.p-2 {
    padding: 20px!important;
}

.p-1 {
    padding: 10px!important;
}

.p-0 {
    padding: 0!important;
}

/* Width */

.w-100 {
    width: 100%!important;
}

.w-75 {
    width: 75%!important;
}

.w-75 {
    width: 75%!important;
}

.w-50 {
    width: 50%!important;
}

.w-25 {
    width: 25%!important;
}

/* Heght */

.h-100 {
    height: 100%!important;
}

.h-75 {
    height: 75%!important;
}

.h-75 {
    height: 75%!important;
}

.h-50 {
    height: 50%!important;
}

.h-25 {
    height: 25%!important;
}

/* flex */


.flex-column {
    flex-direction: column!important;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-center {
    justify-content: center!important;
}

.justify-content-around {
    justify-content: space-around!important;
}

.justify-content-between {
    justify-content: space-between!important;
}

.align-items-center {
    align-items: center!important;
}

.flex-wrap {
    flex-wrap: wrap!important;
}

/* Display */

.d-flex {
    display: flex!important;
}

.d-block {
    display: block!important;
}

/* Position */

.sticky-top {
    position: sticky!important;
    top: 0!important;
    z-index: 1000000000000000!important;
}

/* Containers */

.container {
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin-right: auto!important;
    margin-left: auto!important;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Border */

.border {
    border: solid 1.5px #000000!important;
}

.border-primary {
    border-color: #0091FB!important;
}

.rounded {
    border: solid 0px #000000!important;
    border-radius: 40px!important;
}

/* Botones */

.btn {
    display: inline-block!important;
    font-weight: 400!important;
    text-align: center!important;
    white-space: nowrap!important;
    vertical-align: middle!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    border: 1px solid transparent!important;
    padding: .375rem .75rem!important;
    font-size: 1rem!important;
    line-height: 1.5!important;
    border-radius: .25rem!important;
    transition: color .15s ease-in-out, background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
    color: #ffffff;
    background-color: #0091FB;
    border-color: #0091FB;
}

.btn-secondary {
    background-color: #ffffff;
    border-color: #ffffff;
    color: #0091FB;
}
/* Listas */

.list-style-none {
    list-style: none!important;
}
